{% extends "base.html" %}
{% block body %}

<body style="font-family: 'Montserrat', sans-serif;">

  <!-- Modal -->
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="carouselExample" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ carousel_image }}" class="d-block w-100" alt="...">
        <div class="carousel-content bg-body-tertiary p-5 rounded-5">
          <h1 style="color: black;">{{ carousel_brand_name }}</h1>
          <p style="color: black;">{{ carousel_description }}</p>
          <a href="{% url "shopall" %}" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="carousel-rsp-content bg-body-tertiary p-5 rounded-bottom d-none text-center">
    <h1 style="color: black;">Blissful</h1>
    <p style="color: black;">More Than Skincare, It's a Lifestyle of Radiance</p>
    <a href="{% url "shopall" %}" class="btn btn-primary d-inline-block ">Shop Now</a>
  </div>

  <div class="container d-flex justify-content-center align-items-center flex-column mb-4">
    <h1 class="text-center">Welcome to Our Store</h1>
    <p class="text-center">Your one-stop solution for everything</p>
    <a href="{% url "shopall" %}" class="btn btn-primary">Shop Now</a>
  </div>

  <div class="container mt-4">
    <h2 class="text-center">Featured Products</h2>
    <div class="row">
      {% for product in featured_products %}
      <div class="col-lg-4 col-md-6 mb-4">
        <a href="{% url 'product_details' product.id %}" class="text-decoration-none">
          <div class="card m-auto shadow-lg text-center" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center align-items-center">
              <img style="width: 15rem; height: 21rem;" src="{{ product.image.url }}" class="card-img-top image-hover" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <div class="container mt-4">
    <div class="row">
      {% for product in main_products %}

      <!-- Product Image -->
      <div class="col-lg-8 mb-4 d-flex justify-content-center">
        <img src="{{ product.image.url }}" class="img-fluid" alt="Product Image">
      </div>

      <!-- Product Details -->
      <div class="col-lg-4 mb-4 d-flex flex-column justify-content-center align-items-center">
        <h2>{{ product.title }}</h2>
        <p class="fw-medium text-secondary">PKR {{ product.price }}</p>
        <p class="fw-light text-secondary"><a style="text-decoration: underline; color: black;" href="#">shipping </a>calculated at checkout</p>
        <form class="d-flex justify-content-center align-items-center" id="add-to-cart-form" data-product-id="{{ product.id }}" action="{% url 'add_to_cart' product.id %}">
          {% csrf_token %}
          <button type="submit" id="add-to-cart-btn" class="btn btn-info " style="width: 18rem;">Add to Cart</button>
        </form>
      </div>
      
      {% endfor %}
    </div>
  </div>

  <div class="container mt-2 mb-2">
    <h1 class="text-center m-4">Subscribe to our Emails</h1>
    <form class="d-flex justify-content-center" action="/subscribe" method="post">
      <input style="width: 20rem; border: 1px solid black; border-radius: 15px;" type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
    </form>
  </div>

  <hr class="m-4">

</div>

<script>
  document.getElementById("quantitySlider").addEventListener("input", function() {
    var quantity = document.getElementById("quantity");
    var sliderValue = document.getElementById("quantitySlider").value;
    quantity.textContent = sliderValue;
  });
</script>
</body>
</html>
{% endblock body %}
